[submodule "reasoning-engine"]
	path = reasoning-engine
	url = git@github-gp:growth-protocol-ai/reasoning-engine.git
[submodule "zeus-service"]
	path = zeus-service
	url = git@github-gp:growth-protocol-ai/zeus-service.git
